.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 200px;
  height: 230px;
  border: grey;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.card > img {
  width: 100px;
  height: 100px;
}

.card > p {
  color: grey;
}
